h1 {color: darkBlue; font-family:"Courier New", Courier, monospace; 
  opacity: 0.7;
}
div {
  background-color: darkblue;
}
.fb{margin:15pt; color: darkBlue; font-weight:600; font-size:large; font-family:"Courier New", Courier, monospace;
  
}
canvas {
  border:1px solid grey;
  width:300pt;
  margin:20pt; 
}
